# 1. Perkenalan

```
Program ini dibuat untuk menganalisa penjualan perusahaan selama 1 minggu pertama di Bulan Juli 2024. Hasil visualisasi dari analisa data ini akan dituangkan dalam Tableau pada link berikut: [Tableau]()

## Business Understanding

SMART FrameWork
* Spesific => 
* Measurable => 
* Achieveble =>
* Relevant =>
* Time Bond => 

Problem Statement

# 2. Import Libraries

In [126]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# 3. Data Loading

In [127]:
df = pd.read_csv("dataset.csv")
df

,DATE,AIRLINES,ORIGIN,DESTINATION,FLIGHT_NUMB,COLLY,WEIGHT,CUSTOMER,CUST_ID,SERVICE,COST_A,COST_B,COST_C,PRICE
0,01/Jul/2024,CITILINK,JAKARTA,MEDAN,QG-0916,5,"72,00",PT DINDA SETIA KIRANA,DSK,PTP,9324,4343,2809,11300
1,01/Jul/2024,CITILINK,JAKARTA,BALIKPAPAN,QG-0436,1,"15,00",PT FAJRI ABANGDA PRATAMA,FAP,PTP,15984,4343,1258,31200
2,01/Jul/2024,CITILINK,JAKARTA,MAKASSAR,QG-0426,6,"77,00",PT FAJRI ABANGDA PRATAMA,FAP,PTP,13653,4343,1594,34800
3,01/Jul/2024,CITILINK,JAKARTA,BATAM,QG-0968,6,"95,00",PT DINDA SETIA KIRANA,DSK,PTP,10545,4343,2280,11050
4,01/Jul/2024,CITILINK,JAKARTA,BALIKPAPAN,QG-0424,7,"100,00",PT DINDA SETIA KIRANA,DSK,PTP,15984,4343,1258,22100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28658,07/Jul/2025,FREIGHTER,JAKARTA,TARAKAN,ECA245,2,"10,00",PT BAYA SKENA MENYALA,BSM,DTD,35964,3888,0,42870
28659,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,5,"51,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28660,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,11,"123,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28661,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,10,"127,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28662,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,8,"111,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200

Data terdisi dari 14 kolom dan 28.663 baris. Berikut ini penjelasan informasi dari setiap kolom:
* DATE          : Tanggal transaksi 
* AIRLINES      : Maskapai yang digunakan untuk pengiriman cargo 
* ORIGIN        : Kota asal pengiriman 
* DESTINATION   : Kota tujuan pengiriman
* FLIGHT_NUMB   : Kode penerbangan berdasarkan maskapai dan rute
* COLLY         : Jumlah karung pengiriman 
* WEIGHT        : Total berat pengiriman dari semua jumlah karungan 
* CUSTOMER      : Nama Customer 
* CUST_ID       : Kode unik Customer 
* SERVICE       : Jenis service pengiriman yang digunakan 
* COST_A        : Komponen cost 1 
* COST_B        : Komponen cost 2 
* COST_C        : Komponen cost 3 
* PRICE         : Harga jual per Kg 

Selanjutnya akan dilakukan pengecekan terhadap jenis data dari masing-masing kolom dan keberadaan missing value.

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28663 entries, 0 to 28662
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         28663 non-null  object
 1   AIRLINES     28663 non-null  object
 2   ORIGIN       28663 non-null  object
 3   DESTINATION  28663 non-null  object
 4   FLIGHT_NUMB  28663 non-null  object
 5   COLLY        28663 non-null  int64
 6    WEIGHT      28663 non-null  object
 7   CUSTOMER     28654 non-null  object
 8   CUST_ID      28663 non-null  object
 9   SERVICE      28663 non-null  object
 10  COST_A       28663 non-null  int64
 11  COST_B       28663 non-null  int64
 12  COST_C       28663 non-null  int64
 13  PRICE        28663 non-null  int64
dtypes: int64(5), object(9)
memory usage: 3.1+ MB

Dapat dilihat bahwa data memiliki beberapa 9 missing value pada kolom CUSTOMER dan terdapat kolom DATE dan kolom WEIGHT yang memiliki jenis data yang tidak sesuai

In [129]:
df['CUSTOMER'].unique()

array(['PT DINDA SETIA KIRANA', 'PT FAJRI ABANGDA PRATAMA', nan,
       'PT ADANI SUBUR MAKMUR', 'PT BAYA SKENA MENYALA',
       'PT HABIB REZA ALKARIM', 'PT PRIMA CAHAYA MEGA'], dtype=object)

In [130]:
df['CUSTOMER'].mode()

0    PT PRIMA CAHAYA MEGA
Name: CUSTOMER, dtype: object

# 4. Data Cleaning

## Penghapusan White Space Pada Nama Kolom dan Value Kolom WEIGHT

In [131]:
df.columns = df.columns.str.strip()

In [132]:
df.columns

Index(['DATE', 'AIRLINES', 'ORIGIN', 'DESTINATION', 'FLIGHT_NUMB', 'COLLY',
       'WEIGHT', 'CUSTOMER', 'CUST_ID', 'SERVICE', 'COST_A', 'COST_B',
       'COST_C', 'PRICE'],
      dtype='object')

In [133]:
df['WEIGHT'].unique()

array(['  72,00 ', '  15,00 ', '  77,00 ', '  95,00 ', '  100,00 ',
       '  17,00 ', '  40,00 ', '  157,00 ', '  89,00 ', '  10,00 ',
       '  18,00 ', '  21,00 ', '  171,00 ', '  147,00 ', '  66,00 ',
       '  334,00 ', '  23,00 ', '  90,00 ', '  137,00 ', '  217,00 ',
       '  323,00 ', '  85,00 ', '  34,00 ', '  55,00 ', '  12,00 ',
       '  78,00 ', '  69,00 ', '  141,00 ', '  170,00 ', '  36,00 ',
       '  50,00 ', '  27,00 ', '  11,00 ', '  56,00 ', '  58,00 ',
       '  47,00 ', '  28,00 ', '  63,00 ', '  62,00 ', '  98,00 ',
       '  200,00 ', '  81,00 ', '  19,00 ', '  26,00 ', '  24,00 ',
       '  61,00 ', '  31,00 ', '  173,00 ', '  74,00 ', '  53,00 ',
       '  142,00 ', '  13,00 ', '  42,00 ', '  29,00 ', '  73,00 ',
       '  38,00 ', '  60,00 ', '  14,00 ', '  112,00 ', '  80,00 ',
       '  20,00 ', '  43,00 ', '  37,00 ', '  218,00 ', '  35,00 ',
       '  190,00 ', '  114,00 ', '  160,00 ', '  59,00 ', '  232,00 ',
       '  520,00 ', '  252,00 ', '  254,00 ', '  464,00 ', '  120,00 ',
       '  296,00 ', '  71,00 ', '  298,00 ', '  82,00 ', '  384,00 ',
       '  93,00 ', '  294,00 ', '  345,00 ', '  46,00 ', '  135,00 ',
       '  584,00 ', '  119,00 ', '  340,00 ', '  196,00 ', '  293,00 ',
       '  462,00 ', '  41,00 ', '  359,00 ', '  447,00 ', '  152,00 ',
       '  479,00 ', '  67,00 ', '  380,00 ', '  84,00 ', '  94,00 ',
       '  104,00 ', '  83,00 ', '  103,00 ', '  387,00 ', '  282,00 ',
       '  143,00 ', '  399,00 ', '  167,00 ', '  76,00 ', '  249,00 ',
       '  16,00 ', '  30,00 ', '  22,00 ', '  117,00 ', '  108,00 ',
       '  412,00 ', '  260,00 ', '  269,00 ', '  151,00 ', '  400,00 ',
       '  300,00 ', '  148,00 ', '  109,00 ', '  443,00 ', '  216,00 ',
       '  197,00 ', '  154,00 ', '  68,00 ', '  477,00 ', '  234,00 ',
       '  221,00 ', '  227,00 ', '  450,00 ', '  188,00 ', '  97,00 ',
       '  341,00 ', '  101,00 ', '  189,00 ', '  193,00 ', '  144,00 ',
       '  48,00 ', '  39,00 ', '  177,00 ', '  182,00 ', '  45,00 ',
       '  322,00 ', '  33,00 ', '  64,00 ', '  343,00 ', '  25,00 ',
       '  327,00 ', '  246,00 ', '  79,00 ', '  96,00 ', '  448,00 ',
       '  273,00 ', '  123,00 ', '  52,00 ', '  468,00 ', '  522,00 ',
       '  139,00 ', '  159,00 ', '  243,00 ', '  277,00 ', '  268,00 ',
       '  49,00 ', '  203,00 ', '  32,00 ', '  54,00 ', '  57,00 ',
       '  245,00 ', '  270,00 ', '  65,00 ', '  146,00 ', '  326,00 ',
       '  429,00 ', '  568,00 ', '  51,00 ', '  125,00 ', '  88,00 ',
       '  240,00 ', '  333,00 ', '  44,00 ', '  75,00 ', '  105,00 ',
       '  226,00 ', '  408,00 ', '  486,00 ', '  122,00 ', '  118,00 ',
       '  133,00 ', '  165,00 ', '  184,00 ', '  110,00 ', '  168,00 ',
       '  339,00 ', '  130,00 ', '  211,00 ', '  124,00 ', '  91,00 ',
       '  113,00 ', '  198,00 ', '  215,00 ', '  136,00 ', '  255,00 ',
       '  153,00 ', '  92,00 ', '  180,00 ', '  349,00 ', '  99,00 ',
       '  244,00 ', '  163,00 ', '  175,00 ', '  500,00 ', '  107,00 ',
       '  524,00 ', '  1.140.130,00 ', '  179,00 ', '  207,00 ',
       '  220,00 ', '  504,00 ', '  371,00 ', '  242,00 ', '  121,00 ',
       '  289,00 ', '  178,00 ', '  219,00 ', '  212,00 ', '  199,00 ',
       '  195,00 ', '  346,00 ', '  295,00 ', '  514,00 ', '  149,00 ',
       '  111,00 ', '  272,00 ', '  306,00 ', '  214,00 ', '  342,00 ',
       '  528,00 ', '  331,00 ', '  238,00 ', '  239,00 ', '  162,00 ',
       '  138,00 ', '  308,00 ', '  445,00 ', '  275,00 ', '  172,00 ',
       '  499,00 ', '  320,00 ', '  127,00 ', '  204,00 ', '  378,00 ',
       '  202,00 ', '  266,00 ', '  637,00 ', '  205,00 ', '  557,00 ',
       '  145,00 ', '  484,00 ', '  115,00 ', '  321,00 ', '  191,00 ',
       '  70,00 ', '  332,00 ', '  317,00 ', '  353,00 ', '  666,00 ',
       '  390,00 ', '  181,00 ', '  392,00 ', '  150,00 ', '  347,00 ',
       '  233,00 ', '  431,00 ', '  187,00 ', '  86,00 ', '  132,00 ',
       '  405,00 ', '  430,00 ', '  496,00 ', '  87,00 ', '  126,00 ',
       '  186,00 ', '  264,00 ', '  373,00 ', '  291,00 ', '  589,00 ',
       '  599,00 ', '  565,00 ', '  555,00 ', '  134,00 ', '  511,00 ',
       '  279,00 ', '  386,00 ', '  451,00 ', '  455,00 ', '  423,00 ',
       '  602,00 ', '  368,00 ', '  131,00 ', '  106,00 ', '  230,00 ',
       '  318,00 ', '  164,00 ', '  389,00 ', '  352,00 ', '  304,00 ',
       '  372,00 ', '  395,00 ', '  385,00 ', '  420,00 ', '  370,00 ',
       '  488,00 ', '  155,00 ', '  552,00 ', '  383,00 ', '  140,00 ',
       '  307,00 ', '  393,00 ', '  201,00 ', '  161,00 ', '  302,00 ',
       '  224,00 ', '  297,00 ', '  414,00 ', '  225,00 ', '  356,00 ',
       '  324,00 ', '  231,00 ', '  480,00 ', '  398,00 ', '  350,00 ',
       '  489,00 ', '  210,00 ', '  287,00 ', '  256,00 ', '  362,00 ',
       '  185,00 ', '  116,00 ', '  223,00 ', '  102,00 ', '  319,00 ',
       '  158,00 ', '  381,00 ', '  248,00 ', '  401,00 ', '  645,00 ',
       '  459,00 ', '  274,00 ', '  237,00 ', '  206,00 ', '  533,00 ',
       '  483,00 ', '  301,00 ', '  611,00 ', '  453,00 ', '  375,00 ',
       '  376,00 ', '  625,00 ', '  437,00 ', '  344,00 ', '  481,00 ',
       '  250,00 ', '  388,00 ', '  354,00 ', '  554,00 ', '  281,00 ',
       '  128,00 ', '  548,00 ', '  311,00 ', '  325,00 ', '  278,00 ',
       '  208,00 ', '  379,00 ', '  603,00 ', '  540,00 ', '  235,00 ',
       '  434,00 ', '  329,00 ', '  501,00 ', '  415,00 ', '  156,00 ',
       '  469,00 ', '  285,00 ', '  166,00 ', '  425,00 ', '  404,00 ',
       '  228,00 ', '  497,00 ', '  717,00 ', '  601,00 ', '  432,00 ',
       '  129,00 ', '  174,00 ', '  609,00 ', '  458,00 ', '  330,00 ',
       '  523,00 ', '  251,00 ', '  427,00 ', '  492,00 ', '  460,00 ',
       '  263,00 ', '  236,00 ', '  169,00 ', '  310,00 ', '  183,00 ',
       '  241,00 ', '  262,00 ', '  422,00 ', '  303,00 ', '  292,00 ',
       '  265,00 ', '  258,00 ', '  286,00 ', '  407,00 ', '  316,00 ',
       '  490,00 ', '  194,00 ', '  515,00 ', '  444,00 ', '  871,00 ',
       '  253,00 ', '  328,00 ', '  553,00 ', '  585,00 ', '  276,00 ',
       '  656,00 ', '  411,00 ', '  305,00 ', '  418,00 ', '  315,00 ',
       '  397,00 ', '  470,00 ', '  436,00 ', '  403,00 ', '  176,00 ',
       '  209,00 ', '  366,00 ', '  424,00 ', '  793,00 ', '  314,00 ',
       '  3.393,00 ', '  1.493,00 ', '  409,00 ', '  2.128,00 ',
       '  852,00 ', '  213,00 ', '  229,00 ', '  222,00 ', '  192,00 ',
       '  259,00 ', '  283,00 ', '  261,00 ', '  267,00 ', '  313,00 ',
       '  280,00 ', '  247,00 ', '  4,00 ', '  536,00 ', '  583,00 ',
       '  336,00 ', '  512,00 ', '  594,00 ', '  665,00 ', '  663,00 ',
       '  493,00 ', '  402,00 ', '  508,00 ', '  394,00 ', '  502,00 ',
       '  338,00 ', '  428,00 ', '  271,00 ', '  563,00 ', '  382,00 ',
       '  498,00 ', '  521,00 ', '  433,00 ', '  417,00 ', '  337,00 ',
       '  465,00 ', '  782,00 ', '  413,00 ', '  654,00 ', '  796,00 ',
       '  596,00 ', '  570,00 ', '  591,00 ', '  361,00 ', '  564,00 ',
       '  518,00 ', '  668,00 ', '  635,00 ', '  474,00 ', '  439,00 ',
       '  391,00 ', '  574,00 ', '  288,00 ', '  754,00 ', '  598,00 ',
       '  652,00 ', '  466,00 ', '  478,00 ', '  257,00 ', '  642,00 ',
       '  491,00 ', '  365,00 ', '  556,00 ', '  355,00 ', '  406,00 ',
       '  369,00 ', '  505,00 ', '  614,00 ', '  647,00 ', '  449,00 ',
       '  438,00 ', '  730,00 ', '  653,00 ', '  360,00 ', '  519,00 ',
       '  526,00 ', '  312,00 ', '  576,00 ', '  597,00 ', '  363,00 ',
       '  290,00 ', '  516,00 ', '  551,00 ', '  590,00 ', '  544,00 ',
       '  509,00 ', '  507,00 ', '  632,00 ', '  535,00 ', '  335,00 ',
       '  618,00 ', '  700,00 ', '  629,00 ', '  475,00 ', '  777,00 ',
       '  610,00 ', '  510,00 ', '  529,00 ', '  441,00 ', '  550,00 ',
       '  426,00 ', '  284,00 ', '  506,00 ', '  495,00 ', '  567,00 ',
       '  348,00 ', '  677,00 ', '  454,00 ', '  612,00 ', '  684,00 ',
       '  672,00 ', '  299,00 ', '  740,00 ', '  580,00 ', '  701,00 ',
       '  467,00 ', '  494,00 ', '  421,00 ', '  620,00 ', '  838,00 ',
       '  367,00 ', '  766,00 ', '  903,00 ', '  473,00 ', '  825,00 ',
       '  1.523,00 ', '  6,00 ', '  1.353,00 ', '  967,00 ',
       '  1.909,00 ', '  1,00 ', '  8,00 ', '  525,00 ', '  924,00 ',
       '  641,00 ', '  1.396,00 ', '  2,00 ', '  572,00 ', '  753,00 ',
       '  7,00 ', '  761,00 ', '  9,00 ', '  1.217,00 ', '  258,50 ',
       '  3,00 ', '  250,50 ', '  39,50 ', '  89,50 ', '  164,50 ',
       '  87,50 ', '  25,50 ', '  95,50 ', '  80,50 ', '  16,50 ',
       '  13,36 ', '  64,50 ', '  185,50 ', '  101,50 ', '  155,50 ',
       '  238,50 ', '  203,50 ', '  26,50 ', '  142,50 ', '  7,50 ',
       '  160,50 ', '  40,50 ', '  12,50 ', '  15,50 ', '  176,50 ',
       '  97,50 ', '  452,00 ', '  358,00 ', '  233,50 ', '  58,50 ',
       '  42,50 ', '  32,50 ', '  5,00 ', '  34,50 ', '  75,50 ',
       '  651,00 ', '  442,00 ', '  416,00 ', '  463,00 ', '  115,50 ',
       '  561,00 ', '  173,50 ', '  76,50 ', '  659,00 ', '  615,00 ',
       '  88,50 ', '  705,00 ', '  52,50 ', '  600,00 ', '  457,00 ',
       '  29,50 ', '  10,50 ', '  650,00 ', '  100,50 ', '  231,50 ',
       '  482,00 ', '  134,50 ', '  472,00 ', '  121,50 ', '  18,50 ',
       '  47,50 ', '  13,50 ', '  461,00 ', '  23,50 ', '  456,00 ',
       '  94,50 ', '  19,50 ', '  91,50 ', '  211,50 ', '  70,50 ',
       '  538,00 ', '  741,00 ', '  440,00 ', '  419,00 ', '  364,00 ',
       '  68,50 ', '  537,00 ', '  24,50 ', '  22,50 ', '  55,50 ',
       '  73,50 ', '  308,50 ', '  184,50 ', '  140,50 ', '  41,50 ',
       '  767,00 ', '  114,50 ', '  549,00 ', '  545,00 ', '  577,00 ',
       '  562,00 ', '  132,50 ', '  63,50 ', '  51,50 ', '  539,00 ',
       '  885,00 ', '  578,00 ', '  309,00 ', '  693,00 ', '  44,50 ',
       '  262,50 ', '  17,50 ', '  517,00 ', '  21,50 ', '  78,50 ',
       '  20,50 ', '  374,00 ', '  14,50 ', '  530,00 ', '  145,50 ',
       '  377,00 ', '  573,00 ', '  640,00 ', '  410,00 ', '  31,50 ',
       '  28,50 ', '  124,50 ', '  147,50 ', '  86,50 ', '  708,00 ',
       '  586,00 ', '  113,50 ', '  192,50 ', '  62,50 ', '  178,50 ',
       '  722,00 ', '  229,50 ', '  836,00 ', '  35,50 ', '  503,00 ',
       '  215,50 ', '  154,50 ', '  795,00 ', '  909,00 ', '  268,50 ',
       '  670,00 ', '  770,00 ', '  606,00 ', '  152,50 ', '  50,50 ',
       '  531,00 ', '  648,00 ', '  1,89 ', '  2,25 ', '  968,00 ',
       '  804,00 ', '  860,00 ', '  1,06 ', '  888,00 ', '  1,14 ',
       '  724,00 ', '  351,00 ', '  1.435.628,00 ', '  769,00 ',
       '  1,19 ', '  895,00 '], dtype=object)

In [134]:
df['WEIGHT'] = df['WEIGHT'].str.replace(" ", "").str.replace('.', '').str.replace(',', '.')
df['WEIGHT'].unique()

array(['72.00', '15.00', '77.00', '95.00', '100.00', '17.00', '40.00',
       '157.00', '89.00', '10.00', '18.00', '21.00', '171.00', '147.00',
       '66.00', '334.00', '23.00', '90.00', '137.00', '217.00', '323.00',
       '85.00', '34.00', '55.00', '12.00', '78.00', '69.00', '141.00',
       '170.00', '36.00', '50.00', '27.00', '11.00', '56.00', '58.00',
       '47.00', '28.00', '63.00', '62.00', '98.00', '200.00', '81.00',
       '19.00', '26.00', '24.00', '61.00', '31.00', '173.00', '74.00',
       '53.00', '142.00', '13.00', '42.00', '29.00', '73.00', '38.00',
       '60.00', '14.00', '112.00', '80.00', '20.00', '43.00', '37.00',
       '218.00', '35.00', '190.00', '114.00', '160.00', '59.00', '232.00',
       '520.00', '252.00', '254.00', '464.00', '120.00', '296.00',
       '71.00', '298.00', '82.00', '384.00', '93.00', '294.00', '345.00',
       '46.00', '135.00', '584.00', '119.00', '340.00', '196.00',
       '293.00', '462.00', '41.00', '359.00', '447.00', '152.00',
       '479.00', '67.00', '380.00', '84.00', '94.00', '104.00', '83.00',
       '103.00', '387.00', '282.00', '143.00', '399.00', '167.00',
       '76.00', '249.00', '16.00', '30.00', '22.00', '117.00', '108.00',
       '412.00', '260.00', '269.00', '151.00', '400.00', '300.00',
       '148.00', '109.00', '443.00', '216.00', '197.00', '154.00',
       '68.00', '477.00', '234.00', '221.00', '227.00', '450.00',
       '188.00', '97.00', '341.00', '101.00', '189.00', '193.00',
       '144.00', '48.00', '39.00', '177.00', '182.00', '45.00', '322.00',
       '33.00', '64.00', '343.00', '25.00', '327.00', '246.00', '79.00',
       '96.00', '448.00', '273.00', '123.00', '52.00', '468.00', '522.00',
       '139.00', '159.00', '243.00', '277.00', '268.00', '49.00',
       '203.00', '32.00', '54.00', '57.00', '245.00', '270.00', '65.00',
       '146.00', '326.00', '429.00', '568.00', '51.00', '125.00', '88.00',
       '240.00', '333.00', '44.00', '75.00', '105.00', '226.00', '408.00',
       '486.00', '122.00', '118.00', '133.00', '165.00', '184.00',
       '110.00', '168.00', '339.00', '130.00', '211.00', '124.00',
       '91.00', '113.00', '198.00', '215.00', '136.00', '255.00',
       '153.00', '92.00', '180.00', '349.00', '99.00', '244.00', '163.00',
       '175.00', '500.00', '107.00', '524.00', '1140130.00', '179.00',
       '207.00', '220.00', '504.00', '371.00', '242.00', '121.00',
       '289.00', '178.00', '219.00', '212.00', '199.00', '195.00',
       '346.00', '295.00', '514.00', '149.00', '111.00', '272.00',
       '306.00', '214.00', '342.00', '528.00', '331.00', '238.00',
       '239.00', '162.00', '138.00', '308.00', '445.00', '275.00',
       '172.00', '499.00', '320.00', '127.00', '204.00', '378.00',
       '202.00', '266.00', '637.00', '205.00', '557.00', '145.00',
       '484.00', '115.00', '321.00', '191.00', '70.00', '332.00',
       '317.00', '353.00', '666.00', '390.00', '181.00', '392.00',
       '150.00', '347.00', '233.00', '431.00', '187.00', '86.00',
       '132.00', '405.00', '430.00', '496.00', '87.00', '126.00',
       '186.00', '264.00', '373.00', '291.00', '589.00', '599.00',
       '565.00', '555.00', '134.00', '511.00', '279.00', '386.00',
       '451.00', '455.00', '423.00', '602.00', '368.00', '131.00',
       '106.00', '230.00', '318.00', '164.00', '389.00', '352.00',
       '304.00', '372.00', '395.00', '385.00', '420.00', '370.00',
       '488.00', '155.00', '552.00', '383.00', '140.00', '307.00',
       '393.00', '201.00', '161.00', '302.00', '224.00', '297.00',
       '414.00', '225.00', '356.00', '324.00', '231.00', '480.00',
       '398.00', '350.00', '489.00', '210.00', '287.00', '256.00',
       '362.00', '185.00', '116.00', '223.00', '102.00', '319.00',
       '158.00', '381.00', '248.00', '401.00', '645.00', '459.00',
       '274.00', '237.00', '206.00', '533.00', '483.00', '301.00',
       '611.00', '453.00', '375.00', '376.00', '625.00', '437.00',
       '344.00', '481.00', '250.00', '388.00', '354.00', '554.00',
       '281.00', '128.00', '548.00', '311.00', '325.00', '278.00',
       '208.00', '379.00', '603.00', '540.00', '235.00', '434.00',
       '329.00', '501.00', '415.00', '156.00', '469.00', '285.00',
       '166.00', '425.00', '404.00', '228.00', '497.00', '717.00',
       '601.00', '432.00', '129.00', '174.00', '609.00', '458.00',
       '330.00', '523.00', '251.00', '427.00', '492.00', '460.00',
       '263.00', '236.00', '169.00', '310.00', '183.00', '241.00',
       '262.00', '422.00', '303.00', '292.00', '265.00', '258.00',
       '286.00', '407.00', '316.00', '490.00', '194.00', '515.00',
       '444.00', '871.00', '253.00', '328.00', '553.00', '585.00',
       '276.00', '656.00', '411.00', '305.00', '418.00', '315.00',
       '397.00', '470.00', '436.00', '403.00', '176.00', '209.00',
       '366.00', '424.00', '793.00', '314.00', '3393.00', '1493.00',
       '409.00', '2128.00', '852.00', '213.00', '229.00', '222.00',
       '192.00', '259.00', '283.00', '261.00', '267.00', '313.00',
       '280.00', '247.00', '4.00', '536.00', '583.00', '336.00', '512.00',
       '594.00', '665.00', '663.00', '493.00', '402.00', '508.00',
       '394.00', '502.00', '338.00', '428.00', '271.00', '563.00',
       '382.00', '498.00', '521.00', '433.00', '417.00', '337.00',
       '465.00', '782.00', '413.00', '654.00', '796.00', '596.00',
       '570.00', '591.00', '361.00', '564.00', '518.00', '668.00',
       '635.00', '474.00', '439.00', '391.00', '574.00', '288.00',
       '754.00', '598.00', '652.00', '466.00', '478.00', '257.00',
       '642.00', '491.00', '365.00', '556.00', '355.00', '406.00',
       '369.00', '505.00', '614.00', '647.00', '449.00', '438.00',
       '730.00', '653.00', '360.00', '519.00', '526.00', '312.00',
       '576.00', '597.00', '363.00', '290.00', '516.00', '551.00',
       '590.00', '544.00', '509.00', '507.00', '632.00', '535.00',
       '335.00', '618.00', '700.00', '629.00', '475.00', '777.00',
       '610.00', '510.00', '529.00', '441.00', '550.00', '426.00',
       '284.00', '506.00', '495.00', '567.00', '348.00', '677.00',
       '454.00', '612.00', '684.00', '672.00', '299.00', '740.00',
       '580.00', '701.00', '467.00', '494.00', '421.00', '620.00',
       '838.00', '367.00', '766.00', '903.00', '473.00', '825.00',
       '1523.00', '6.00', '1353.00', '967.00', '1909.00', '1.00', '8.00',
       '525.00', '924.00', '641.00', '1396.00', '2.00', '572.00',
       '753.00', '7.00', '761.00', '9.00', '1217.00', '258.50', '3.00',
       '250.50', '39.50', '89.50', '164.50', '87.50', '25.50', '95.50',
       '80.50', '16.50', '13.36', '64.50', '185.50', '101.50', '155.50',
       '238.50', '203.50', '26.50', '142.50', '7.50', '160.50', '40.50',
       '12.50', '15.50', '176.50', '97.50', '452.00', '358.00', '233.50',
       '58.50', '42.50', '32.50', '5.00', '34.50', '75.50', '651.00',
       '442.00', '416.00', '463.00', '115.50', '561.00', '173.50',
       '76.50', '659.00', '615.00', '88.50', '705.00', '52.50', '600.00',
       '457.00', '29.50', '10.50', '650.00', '100.50', '231.50', '482.00',
       '134.50', '472.00', '121.50', '18.50', '47.50', '13.50', '461.00',
       '23.50', '456.00', '94.50', '19.50', '91.50', '211.50', '70.50',
       '538.00', '741.00', '440.00', '419.00', '364.00', '68.50',
       '537.00', '24.50', '22.50', '55.50', '73.50', '308.50', '184.50',
       '140.50', '41.50', '767.00', '114.50', '549.00', '545.00',
       '577.00', '562.00', '132.50', '63.50', '51.50', '539.00', '885.00',
       '578.00', '309.00', '693.00', '44.50', '262.50', '17.50', '517.00',
       '21.50', '78.50', '20.50', '374.00', '14.50', '530.00', '145.50',
       '377.00', '573.00', '640.00', '410.00', '31.50', '28.50', '124.50',
       '147.50', '86.50', '708.00', '586.00', '113.50', '192.50', '62.50',
       '178.50', '722.00', '229.50', '836.00', '35.50', '503.00',
       '215.50', '154.50', '795.00', '909.00', '268.50', '670.00',
       '770.00', '606.00', '152.50', '50.50', '531.00', '648.00', '1.89',
       '2.25', '968.00', '804.00', '860.00', '1.06', '888.00', '1.14',
       '724.00', '351.00', '1435628.00', '769.00', '1.19', '895.00'],
      dtype=object)

## Ubah Tipe Data

In [135]:
df['WEIGHT'] = df['WEIGHT'].astype(float)
df['DATE'] = pd.to_datetime(df['DATE'])
df[['WEIGHT', 'DATE']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28663 entries, 0 to 28662
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WEIGHT  28663 non-null  float64
 1   DATE    28663 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 448.0 KB

In [136]:
df['DATE'] = pd.to_datetime(df['DATE'])

## Handling Missing Value

Handling missing value yang terdapat pada kolom CUSTOMER akan dilakukan dengan cara melihat pola yang terdapat pada kolom lain, dalam hal ini adalah kolom CUST_ID

In [137]:
df[df['CUSTOMER'].isna()]

,DATE,AIRLINES,ORIGIN,DESTINATION,FLIGHT_NUMB,COLLY,WEIGHT,CUSTOMER,CUST_ID,SERVICE,COST_A,COST_B,COST_C,PRICE
22,2024-07-01,CITILINK,JAKARTA,MEDAN,QG-0978,9,90.0,NaN,FAP,PTP,9324,4343,2809,25200
65,2024-07-01,CITILINK,JAKARTA,DENPASAR,QG-0684,1,11.0,NaN,DSK,PTP,8103,4343,2200,9025
28193,2024-07-04,FREIGHTER,JAKARTA,TERNATE,RA-2024,5,44.0,NaN,BSM,DTD,43290,4010,0,51690
28194,2024-07-04,FREIGHTER,JAKARTA,PALU,RA-2024,16,140.0,NaN,MEG,DTD,36297,5010,0,47795
28195,2024-07-04,FREIGHTER,JAKARTA,TERNATE,RA-2024,5,55.0,NaN,BSM,DTD,43290,4010,0,51690
28323,2024-07-06,FREIGHTER,JAKARTA,PALU,RA-2024,2,39.0,NaN,MEG,DTD,36297,5010,0,47795
28419,2024-07-07,FREIGHTER,JAKARTA,PALU,RA-2024,3,35.0,NaN,DSK,PTP,36297,4010,0,42250
28594,2024-07-05,FREIGHTER,JAKARTA,TARAKAN,ECA245,15,150.0,NaN,DSK,PTP,35964,3888,0,38200
28646,2025-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,3,41.0,NaN,BSM,DTD,35964,3888,0,42870

In [138]:
customer_id_target = ['FAP', 'DSK', 'BSM', 'MEG']
seen = set ()

for index, row in df.iterrows():
    if row['CUST_ID'] in customer_id_target and row['CUST_ID'] not in seen:
        print(f"Customer {row['CUST_ID']}: {row['CUSTOMER']}")
        seen.add(row['CUST_ID'])

Customer DSK: PT DINDA SETIA KIRANA
Customer FAP: PT FAJRI ABANGDA PRATAMA
Customer BSM: PT BAYA SKENA MENYALA
Customer MEG: PT PRIMA CAHAYA MEGA

In [139]:
df[(df['FLIGHT_NUMB'] == 'RA-2024') & (df['CUST_ID'] == 'MEG') & (df['COLLY'] == 2)  & (df['WEIGHT'] == 39)]

,DATE,AIRLINES,ORIGIN,DESTINATION,FLIGHT_NUMB,COLLY,WEIGHT,CUSTOMER,CUST_ID,SERVICE,COST_A,COST_B,COST_C,PRICE
28323,2024-07-06,FREIGHTER,JAKARTA,PALU,RA-2024,2,39.0,NaN,MEG,DTD,36297,5010,0,47795

In [140]:
def fill_missing(row):
    if pd.isna(row['CUSTOMER']):
        if (row['FLIGHT_NUMB'] == 'QG-0978') & (row['CUST_ID'] == 'FAP') & (row['COLLY'] == 9):
            return "PT FAJRI ABANGDA PRATAMA"
        if (row['CUST_ID'] == 'DSK'):
            if ((row['FLIGHT_NUMB'] == 'QG-0684') & (row['COLLY'] == 1) & (row['WEIGHT'] == 11)) or \
                ((row['FLIGHT_NUMB'] == 'RA-2024') & (row['COLLY'] == 3) & (row['WEIGHT'] == 35)) or \
                ((row['FLIGHT_NUMB'] == 'ECA245') & (row['COLLY'] == 15) & (row['WEIGHT'] == 150)): 
                    return "PT DINDA SETIA KIRANA"
        elif (row['CUST_ID'] == 'BSM'):
            if ((row['FLIGHT_NUMB'] == 'RA-2024') & (row['COLLY'] == 5) & (row['WEIGHT'] == 44)) or \
                ((row['FLIGHT_NUMB'] == 'RA-2024') & (row['COLLY'] == 5) & (row['WEIGHT'] == 55)) or \
                ((row['FLIGHT_NUMB'] == 'ECA245') & (row['COLLY'] == 3) & (row['WEIGHT'] == 41)):
                    return 'PT BAYA SKENA MENYALA'
        elif (row['CUST_ID'] == 'MEG'):
            if ((row['FLIGHT_NUMB'] == 'RA-2024') & (row['COLLY'] == 16) & (row['WEIGHT'] == 140)) or \
                ((row['FLIGHT_NUMB'] == 'RA-2024') & (row['COLLY'] == 2) & (row['WEIGHT'] == 39)):
                    return "PT PRIMA CAHAYA MEGA"
    return row['CUSTOMER']

#apply ke kolom 'CUSTOMER'
df['CUSTOMER'] = df.apply(fill_missing, axis=1)

print(df)

            DATE   AIRLINES   ORIGIN DESTINATION FLIGHT_NUMB  COLLY  WEIGHT  \
0     2024-07-01   CITILINK  JAKARTA       MEDAN     QG-0916      5    72.0
1     2024-07-01   CITILINK  JAKARTA  BALIKPAPAN     QG-0436      1    15.0
2     2024-07-01   CITILINK  JAKARTA    MAKASSAR     QG-0426      6    77.0
3     2024-07-01   CITILINK  JAKARTA       BATAM     QG-0968      6    95.0
4     2024-07-01   CITILINK  JAKARTA  BALIKPAPAN     QG-0424      7   100.0
...          ...        ...      ...         ...         ...    ...     ...
28658 2025-07-07  FREIGHTER  JAKARTA     TARAKAN      ECA245      2    10.0
28659 2024-07-07  FREIGHTER  JAKARTA     TARAKAN      ECA245      5    51.0
28660 2024-07-07  FREIGHTER  JAKARTA     TARAKAN      ECA245     11   123.0
28661 2024-07-07  FREIGHTER  JAKARTA     TARAKAN      ECA245     10   127.0
28662 2024-07-07  FREIGHTER  JAKARTA     TARAKAN      ECA245      8   111.0

                       CUSTOMER CUST_ID SERVICE  COST_A  COST_B  COST_C  PRICE
0         PT DINDA SETIA KIRANA     DSK     PTP    9324    4343    2809  11300
1      PT FAJRI ABANGDA PRATAMA     FAP     PTP   15984    4343    1258  31200
2      PT FAJRI ABANGDA PRATAMA     FAP     PTP   13653    4343    1594  34800
3         PT DINDA SETIA KIRANA     DSK     PTP   10545    4343    2280  11050
4         PT DINDA SETIA KIRANA     DSK     PTP   15984    4343    1258  22100
...                         ...     ...     ...     ...     ...     ...    ...
28658     PT BAYA SKENA MENYALA     BSM     DTD   35964    3888       0  42870
28659     PT DINDA SETIA KIRANA     DSK     PTP   35964    3888       0  38200
28660     PT DINDA SETIA KIRANA     DSK     PTP   35964    3888       0  38200
28661     PT DINDA SETIA KIRANA     DSK     PTP   35964    3888       0  38200
28662     PT DINDA SETIA KIRANA     DSK     PTP   35964    3888       0  38200

[28663 rows x 14 columns]

## Penghapusan Baris Duplikat

In [141]:
df_clean = df.drop_duplicates()
df_clean

,DATE,AIRLINES,ORIGIN,DESTINATION,FLIGHT_NUMB,COLLY,WEIGHT,CUSTOMER,CUST_ID,SERVICE,COST_A,COST_B,COST_C,PRICE
0,2024-07-01,CITILINK,JAKARTA,MEDAN,QG-0916,5,72.0,PT DINDA SETIA KIRANA,DSK,PTP,9324,4343,2809,11300
1,2024-07-01,CITILINK,JAKARTA,BALIKPAPAN,QG-0436,1,15.0,PT FAJRI ABANGDA PRATAMA,FAP,PTP,15984,4343,1258,31200
2,2024-07-01,CITILINK,JAKARTA,MAKASSAR,QG-0426,6,77.0,PT FAJRI ABANGDA PRATAMA,FAP,PTP,13653,4343,1594,34800
3,2024-07-01,CITILINK,JAKARTA,BATAM,QG-0968,6,95.0,PT DINDA SETIA KIRANA,DSK,PTP,10545,4343,2280,11050
4,2024-07-01,CITILINK,JAKARTA,BALIKPAPAN,QG-0424,7,100.0,PT DINDA SETIA KIRANA,DSK,PTP,15984,4343,1258,22100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28658,2025-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,2,10.0,PT BAYA SKENA MENYALA,BSM,DTD,35964,3888,0,42870
28659,2024-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,5,51.0,PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28660,2024-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,11,123.0,PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28661,2024-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,10,127.0,PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28662,2024-07-07,FREIGHTER,JAKARTA,TARAKAN,ECA245,8,111.0,PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200

Selanjutnya, akan dilakukan pengecekan nilai perhitungan statistik

In [144]:
df_clean.describe().T

,count,mean,min,25%,50%,75%,max,std
DATE,25093,2024-07-06 14:05:56.083369984,2024-07-01 00:00:00,2024-07-02 00:00:00,2024-07-04 00:00:00,2024-07-06 00:00:00,2025-07-07 00:00:00,NaN
COLLY,25093.0,9.246921,1.0,3.0,8.0,15.0,217.0,8.042857
WEIGHT,25093.0,204.643601,1.0,32.0,74.0,145.0,1435628.0,11572.514583
COST_A,25093.0,20370.813334,3330.0,10545.0,14153.0,27972.0,96348.0,13331.814282
COST_B,25093.0,3505.42737,1144.0,3060.0,3282.0,4343.0,7596.0,818.827061
COST_C,25093.0,1686.296338,0.0,1343.0,1594.0,2280.0,4085.0,858.788335
PRICE,25093.0,28322.315785,5320.0,19690.0,23770.0,37000.0,109700.0,12900.925953