# 1. Perkenalan

```
Program ini dibuat untuk menganalisa penjualan perusahaan selama 1 minggu pertama di Bulan Juli 2024. Hasil visualisasi dari analisa data ini akan dituangkan dalam Tableau pada link berikut: [Tableau]()

# 2. Import Libraries

In [1]:
import pandas as pd

# 3. Data Loading

In [2]:
df = pd.read_csv("dataset.csv")
df

,DATE,AIRLINES,ORIGIN,DESTINATION,FLIGHT_NUMB,COLLY,WEIGHT,CUSTOMER,CUST_ID,SERVICE,COST_A,COST_B,COST_C,PRICE
0,01/Jul/2024,CITILINK,JAKARTA,MEDAN,QG-0916,5,"72,00",PT DINDA SETIA KIRANA,DSK,PTP,9324,4343,2809,11300
1,01/Jul/2024,CITILINK,JAKARTA,BALIKPAPAN,QG-0436,1,"15,00",PT FAJRI ABANGDA PRATAMA,FAP,PTP,15984,4343,1258,31200
2,01/Jul/2024,CITILINK,JAKARTA,MAKASSAR,QG-0426,6,"77,00",PT FAJRI ABANGDA PRATAMA,FAP,PTP,13653,4343,1594,34800
3,01/Jul/2024,CITILINK,JAKARTA,BATAM,QG-0968,6,"95,00",PT DINDA SETIA KIRANA,DSK,PTP,10545,4343,2280,11050
4,01/Jul/2024,CITILINK,JAKARTA,BALIKPAPAN,QG-0424,7,"100,00",PT DINDA SETIA KIRANA,DSK,PTP,15984,4343,1258,22100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28658,07/Jul/2025,FREIGHTER,JAKARTA,TARAKAN,ECA245,2,"10,00",PT BAYA SKENA MENYALA,BSM,DTD,35964,3888,0,42870
28659,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,5,"51,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28660,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,11,"123,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28661,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,10,"127,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200
28662,07/Jul/2024,FREIGHTER,JAKARTA,TARAKAN,ECA245,8,"111,00",PT DINDA SETIA KIRANA,DSK,PTP,35964,3888,0,38200

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28663 entries, 0 to 28662
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         28663 non-null  object
 1   AIRLINES     28663 non-null  object
 2   ORIGIN       28663 non-null  object
 3   DESTINATION  28663 non-null  object
 4   FLIGHT_NUMB  28663 non-null  object
 5   COLLY        28663 non-null  int64
 6    WEIGHT      28663 non-null  object
 7   CUSTOMER     28654 non-null  object
 8   CUST_ID      28663 non-null  object
 9   SERVICE      28663 non-null  object
 10  COST_A       28663 non-null  int64
 11  COST_B       28663 non-null  int64
 12  COST_C       28663 non-null  int64
 13  PRICE        28663 non-null  int64
dtypes: int64(5), object(9)
memory usage: 3.1+ MB